{% extends "./common/IfreamAdd.html" %}

{% block right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">添加用户</h3>
    </div>
    <div class="panel-body">
        用户信息
    </div>
    <div>
        <form calss="input-form" action="/admin/staff/doadd" method="POST">
            <ul>
                <li>用户账号：<input type="text" name="username"></li>
                <li>用户密码：<input type="password" name="password"></li>
                <li>用户名称：<input type="text" name="name"></li>
                <li>用户编号：<input type="text" name="no"></li>
                <li>用户手机：<input type="text" name="phone"></li>
                <li>用户角色：
                    <select name="role_id" id="">
                        {% for role in roles%}
                        <option value="{{role._id}}">{{role.role_name}}</option>
                        {% endfor %}
                    </select>
                </li>
                <input type="submit" class="btn btn-default">
            </ul>
        </form>
    </div>
</div>
{% endblock %}