{% extends "../common/Ifreambase.html" %}

{% block right %}
<div class="table-response">
    <table class="table table-bordered">
        <thead >
            <th class="text-center">角色名称</th>
            <th class="text-center">角色描述</th>
            <th class="text-center">增加时间</th>
            <th class="text-center">角色状态</th>
            <th class="text-center">操作</th>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td class="text-center">{{role.role_name}}</td>
                <td class="text-center">{{role.role_desc}}</td>
                <td class="text-center">{{helper.dateFormate(role.time_create)}}</td>
                {% if role.data_status == 1 %}
                <td class="text-center">正常</td>
                {% else %}
                <td class="text-center">异常</td>
                {% endif %}
                <td class="text-center">
                    <a href="/admin/role/auth?id={{role._id}}">授权</a> / 
                    <a href="/admin/role/edit?id={{role._id}}">修改</a> / 
                    <a href="/admin/role/delete?id={{role._id}}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}